// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "assets/custom-fonts.scss";

@import "templates/main-page-temp.scss";
@import "templates/page-404.scss";

@import "sections/navbar.scss";
@import "sections/top-section.scss";
@import "sections/bewerben-section.scss";
@import "sections/uberuns-section.scss";
@import "sections/partner-section.scss";
@import "sections/contact-section.scss";

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Noi Grotesk Regular";
	font-size: 20px;
}

a {
	color: $black;
	text-decoration: underline;
	transition: 0.2s;
	&:hover {
		color: $rosa;
	}
}

h2 {
	margin-top: 70px;
	margin-bottom: 40px;
	font-size: 56px;
	font-weight: 400;
	font-family: "StudioFeixenSerif Medium";
	@media (max-width: 768px) {
		font-size: 32px;
	}
}

h3 {
	font-family: "StudioFeixenSerif Medium";
	font-size: 32px;
	@media (max-width: 768px) {
		font-size: 26px;
	}
}

p {
	@media (max-width: 768px) {
		font-size: 15px;
		line-height: 25px;
	}
}
