@font-face {
	font-family: "Noi Grotesk Regular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/NoiGrotesk-Regular.eot") format("eot"),
		url("../fonts/NoiGrotesk-Regular.woff") format("woff"),
		url("../fonts/NoiGrotesk-Regular.ttf") format("truetype"),
		url("../fonts/NoiGrotesk-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Noi Grotesk Semibold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/NoiGrotesk-Semibold.eot") format("eot"),
		url("../fonts/NoiGrotesk-Semibold.woff") format("woff"),
		url("../fonts/NoiGrotesk-Semibold.ttf") format("truetype"),
		url("../fonts/NoiGrotesk-Semibold.woff2") format("woff2");
}

@font-face {
	font-family: "StudioFeixenSerif Medium";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/StudioFeixenSerif-Medium.eot") format("eot"),
		url("../fonts/StudioFeixenSerif-Medium.woff") format("woff"),
		url("../fonts/StudioFeixenSerif-Medium.ttf") format("truetype"),
		url("../fonts/StudioFeixenSerif-Medium.woff2") format("woff2");
}
