.bewerben-section {
	background-color: $grey;

	h2 {
		margin-bottom: 10px;
	}
	h3 {
		margin-top: 30px;
		font-size: 32px;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			font-size: 26px;
		}
	}
	p {
		margin-bottom: 30px;
		line-height: 30px;

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 25px;
		}
	}
}

.jetzt-bewerben-section {
	background-color: $yellowBFG;

	.numeration {
		font-family: "StudioFeixenSerif Medium";
		font-size: 32px;
		font-weight: 400;
		min-width: 48px;
		min-height: 48px;
		height: 48px;
		width: 48px;
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("../img/circle-small.svg");

		@media (max-width: 768px) {
			font-size: 26px;
		}
	}

	.description {
		padding-left: 20px;
		line-height: 30px;
	}
	.btn-bewerben {
		padding: 0px 20px;
		height: 50px;
		background-color: $rosa;
		border: $rosa solid 1px;
		border-radius: 50px;
		position: relative;

		&:hover {
			background-color: transparent;
		}
		&:focus {
			box-shadow: none;
		}

		&::before {
			position: absolute;
			left: -50%;
			top: -90%;
			content: url("../img/arrow.svg");
		}
	}

	.img-col {
		position: relative;
		.bewerben-img {
			max-width: 340px;
			transform: translateY(17.2%);

			@media (max-width: 768px) {
				max-width: 250px;
			}
		}
	}

	.btn {
		font-size: 20px;
		text-decoration: none;
	}
}
