.contact-section {
	background: linear-gradient(#e7f0ff 0%, #f8e7ef 100%);

	address {
		p {
			line-height: 20px;
			margin-bottom: 10px;
			@media (max-width: 768px) {
				margin-bottom: 5px;
				font-size: 15px;
			}
		}
	}
	.go-to-top {
		@media (max-width: 768px) {
			font-size: 15px;
		}

		.go-top-btn {
			border-radius: 52px;
			width: 110px;
			height: 50px;
			&:hover {
				color: black;
				border-color: transparent;
				background-color: $rosa;
			}
			img {
				max-height: 25px;
				margin-right: 5px;
			}
		}
	}
}
