.uberuns-section {
	background-color: $grey;

	h2 {
		font-family: "StudioFeixenSerif Medium";
		margin-top: 70px;
		margin-bottom: 40px;
		font-size: 56px;
		font-weight: 400;
	}

	h3 {
		font-family: "StudioFeixenSerif Medium";
		font-size: 32px;
	}

	.col_person_photo {
		img {
			height: 75px;
			width: 75px;
			border-radius: 50%;
		}
	}
	.person-details {
		font-size: 20px;
		line-height: 30px;

		.name-role {
			font-weight: 600;
		}

		a {
			color: $black;
		}
	}
}
